.*/
*.tgz
flink-*/
mycroft-core/
virtuoso-opensource/
rmlmapper*
RMLStreamer*
.bash_history
env/
*.nt
data/*-gtfs*/
data/*.zip
.DS-Store
data/*rt*
data/nmbs-*
Code/
.a*
.l*
.m*
.o*
.s*
.bashrc
.profile
.wget-hsts
data/test-data/